body {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}


html,body{
    overflow: hidden
    height: 100%
    width:100%
}
    
p {
    color: #fff;
}

h2 {
    color: #fff;
}

.dropdown-menu>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.container-original {
    position: absolute;
    top: 0%;
    left: 0%;
    align: left;
    width: 100%;
    transition: 0.5s ;
}

.container-originaldev {
    position: absolute;
    top: 0%;
    left: 0%;
    align: left;
    width: 100%;
    transition: 0.5s ;
}

.background{
    position:absolute;
    top: 100%;
    right: 100%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    z-index:800;
}
.tuterial{
    position:absolute;
    top: calc(50% - 300px);
    right: calc(50% - 400px);
	width: 800px;
	height: 600px;
	background: rgba(100,100,100,0.3);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    z-index:999;
}
#hiddenbutton{
    right: 0%;
    top:0%;
}

#openbutton{
    position: absolute;
    top: 0%;
    right: 0%;
}

.savewindow {
    width: 200px;
    position: absolute;
    background-color:#fff;
    bottom: 10%;
    right: -200px;
    align: left;
    transition: 0.8s ;
    background-color:rgba(0,0,0,0.3);
}

.guide {
    position: absolute;
    bottom: -100%;
    left: 0%;
    width: 20%;
    transition: 0.3s;
    background-color:rgba(0,0,0,0.3);
    font-size: 10px;
}

.logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.logoimage{
    transition: 0.5s;
}
.logoimage:hover{
    background-color:#000;
}

.loadingcontainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.pad{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
}
#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

.button {
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #f7ba59;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    width: 200px
}
.button:hover {
	top: -4px;
	box-shadow: 0 7px 0 #f7ba59;
}
.button:active {
	top: 3px;
	box-shadow: none;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(https://i.imgur.com/HrbaQji.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(https://i.imgur.com/O8h5HrZ.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(https://i.imgur.com/O8h5HrZ.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(https://i.imgur.com/DbeiaRC.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(https://i.imgur.com/DbeiaRC.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(https://i.imgur.com/JFrDtQg.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(https://i.imgur.com/nvVOqTF.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(https://i.imgur.com/O8h5HrZ.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: https://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

* {
  -webkit-user-select: none;  /* Chrome or Safari */
  -moz-user-select: none;     /* FireFox */
  -ms-user-select: none;      /* IE */
  -o-user-select: none;       /* Opera */
  user-select: none;
}



#color{
        border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#color:hover {background-color: #e7e7e7;}

/* #opacity{
        border: none;
    color: white;
    padding: 3px 0px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
/*     transition-duration: 0.4s;
    cursor: pointer;
    background-image: -webkit-linear-gradient(90deg, #fff 0%, #000 100%);
    background-image: linear-gradient(90deg, #fff 0%, #000 100%);
    color: black;
    border: 2px solid #e7e7e7;
} */
#s{
        border: none;
    color: white;
    padding: 3px 0px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: -webkit-linear-gradient(90deg, #fff 0%, #888 100%);
    background-image: linear-gradient(90deg, #fff 0%, #888 100%);
    color: black;
    border: 2px solid #e7e7e7;
}
#v{
        border: none;
    color: white;
    padding: 3px 0px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: -webkit-linear-gradient(90deg, #000 0%, #888 100%);
    background-image: linear-gradient(90deg, #000 0%, #888 100%);
    color: black;
    border: 2px solid #e7e7e7;
}

#sv{
        border: none;
    color: white;
    padding: 3px 0px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: -webkit-linear-gradient(90deg, #fff 0%, #000 100%);
    background-image: linear-gradient(90deg, #fff 0%, #000 100%);
    color: black;
    border: 2px solid #e7e7e7;
}

.small{
    transform: scale(0.7,0.7);
}

#colorrange{
    border: none;
    color: white;
    padding: 3px 0px;
    width:360px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-image: -webkit-linear-gradient(90deg,hsl(0,50%,50%)0%,
hsl(3.6,50%,50%)1%,
hsl(7.2,50%,50%)2%,
hsl(10.8,50%,50%)3%,
hsl(14.4,50%,50%)4%,
hsl(18,50%,50%)5%,
hsl(21.6,50%,50%)6%,
hsl(25.2,50%,50%)7%,
hsl(28.8,50%,50%)8%,
hsl(32.4,50%,50%)9%,
hsl(36,50%,50%)10%,
hsl(39.6,50%,50%)11%,
hsl(43.2,50%,50%)12%,
hsl(46.8,50%,50%)13%,
hsl(50.4,50%,50%)14%,
hsl(54,50%,50%)15%,
hsl(57.6,50%,50%)16%,
hsl(61.2,50%,50%)17%,
hsl(64.8,50%,50%)18%,
hsl(68.4,50%,50%)19%,
hsl(72,50%,50%)20%,
hsl(75.6,50%,50%)21%,
hsl(79.2,50%,50%)22%,
hsl(82.8,50%,50%)23%,
hsl(86.4,50%,50%)24%,
hsl(90,50%,50%)25%,
hsl(93.6,50%,50%)26%,
hsl(97.2,50%,50%)27%,
hsl(100.8,50%,50%)28%,
hsl(104.4,50%,50%)29%,
hsl(108,50%,50%)30%,
hsl(111.6,50%,50%)31%,
hsl(115.2,50%,50%)32%,
hsl(118.8,50%,50%)33%,
hsl(122.4,50%,50%)34%,
hsl(126,50%,50%)35%,
hsl(129.6,50%,50%)36%,
hsl(133.2,50%,50%)37%,
hsl(136.8,50%,50%)38%,
hsl(140.4,50%,50%)39%,
hsl(144,50%,50%)40%,
hsl(147.6,50%,50%)41%,
hsl(151.2,50%,50%)42%,
hsl(154.8,50%,50%)43%,
hsl(158.4,50%,50%)44%,
hsl(162,50%,50%)45%,
hsl(165.6,50%,50%)46%,
hsl(169.2,50%,50%)47%,
hsl(172.8,50%,50%)48%,
hsl(176.4,50%,50%)49%,
hsl(180,50%,50%)50%,
hsl(183.6,50%,50%)51%,
hsl(187.2,50%,50%)52%,
hsl(190.8,50%,50%)53%,
hsl(194.4,50%,50%)54%,
hsl(198,50%,50%)55%,
hsl(201.6,50%,50%)56%,
hsl(205.2,50%,50%)57%,
hsl(208.8,50%,50%)58%,
hsl(212.4,50%,50%)59%,
hsl(216,50%,50%)60%,
hsl(219.6,50%,50%)61%,
hsl(223.2,50%,50%)62%,
hsl(226.8,50%,50%)63%,
hsl(230.4,50%,50%)64%,
hsl(234,50%,50%)65%,
hsl(237.6,50%,50%)66%,
hsl(241.2,50%,50%)67%,
hsl(244.8,50%,50%)68%,
hsl(248.4,50%,50%)69%,
hsl(252,50%,50%)70%,
hsl(255.6,50%,50%)71%,
hsl(259.2,50%,50%)72%,
hsl(262.8,50%,50%)73%,
hsl(266.4,50%,50%)74%,
hsl(270,50%,50%)75%,
hsl(273.6,50%,50%)76%,
hsl(277.2,50%,50%)77%,
hsl(280.8,50%,50%)78%,
hsl(284.4,50%,50%)79%,
hsl(288,50%,50%)80%,
hsl(291.6,50%,50%)81%,
hsl(295.2,50%,50%)82%,
hsl(298.8,50%,50%)83%,
hsl(302.4,50%,50%)84%,
hsl(306,50%,50%)85%,
hsl(309.6,50%,50%)86%,
hsl(313.2,50%,50%)87%,
hsl(316.8,50%,50%)88%,
hsl(320.4,50%,50%)89%,
hsl(324,50%,50%)90%,
hsl(327.6,50%,50%)91%,
hsl(331.2,50%,50%)92%,
hsl(334.8,50%,50%)93%,
hsl(338.4,50%,50%)94%,
hsl(342,50%,50%)95%,
hsl(345.6,50%,50%)96%,
hsl(349.2,50%,50%)97%,
hsl(352.8,50%,50%)98%,
hsl(356.4,50%,50%)99%,
hsl(360,50%,50%)100%);
    background-image: linear-gradient(90deg,hsl(0,50%,50%)0%,
hsl(3.6,50%,50%)1%,
hsl(7.2,50%,50%)2%,
hsl(10.8,50%,50%)3%,
hsl(14.4,50%,50%)4%,
hsl(18,50%,50%)5%,
hsl(21.6,50%,50%)6%,
hsl(25.2,50%,50%)7%,
hsl(28.8,50%,50%)8%,
hsl(32.4,50%,50%)9%,
hsl(36,50%,50%)10%,
hsl(39.6,50%,50%)11%,
hsl(43.2,50%,50%)12%,
hsl(46.8,50%,50%)13%,
hsl(50.4,50%,50%)14%,
hsl(54,50%,50%)15%,
hsl(57.6,50%,50%)16%,
hsl(61.2,50%,50%)17%,
hsl(64.8,50%,50%)18%,
hsl(68.4,50%,50%)19%,
hsl(72,50%,50%)20%,
hsl(75.6,50%,50%)21%,
hsl(79.2,50%,50%)22%,
hsl(82.8,50%,50%)23%,
hsl(86.4,50%,50%)24%,
hsl(90,50%,50%)25%,
hsl(93.6,50%,50%)26%,
hsl(97.2,50%,50%)27%,
hsl(100.8,50%,50%)28%,
hsl(104.4,50%,50%)29%,
hsl(108,50%,50%)30%,
hsl(111.6,50%,50%)31%,
hsl(115.2,50%,50%)32%,
hsl(118.8,50%,50%)33%,
hsl(122.4,50%,50%)34%,
hsl(126,50%,50%)35%,
hsl(129.6,50%,50%)36%,
hsl(133.2,50%,50%)37%,
hsl(136.8,50%,50%)38%,
hsl(140.4,50%,50%)39%,
hsl(144,50%,50%)40%,
hsl(147.6,50%,50%)41%,
hsl(151.2,50%,50%)42%,
hsl(154.8,50%,50%)43%,
hsl(158.4,50%,50%)44%,
hsl(162,50%,50%)45%,
hsl(165.6,50%,50%)46%,
hsl(169.2,50%,50%)47%,
hsl(172.8,50%,50%)48%,
hsl(176.4,50%,50%)49%,
hsl(180,50%,50%)50%,
hsl(183.6,50%,50%)51%,
hsl(187.2,50%,50%)52%,
hsl(190.8,50%,50%)53%,
hsl(194.4,50%,50%)54%,
hsl(198,50%,50%)55%,
hsl(201.6,50%,50%)56%,
hsl(205.2,50%,50%)57%,
hsl(208.8,50%,50%)58%,
hsl(212.4,50%,50%)59%,
hsl(216,50%,50%)60%,
hsl(219.6,50%,50%)61%,
hsl(223.2,50%,50%)62%,
hsl(226.8,50%,50%)63%,
hsl(230.4,50%,50%)64%,
hsl(234,50%,50%)65%,
hsl(237.6,50%,50%)66%,
hsl(241.2,50%,50%)67%,
hsl(244.8,50%,50%)68%,
hsl(248.4,50%,50%)69%,
hsl(252,50%,50%)70%,
hsl(255.6,50%,50%)71%,
hsl(259.2,50%,50%)72%,
hsl(262.8,50%,50%)73%,
hsl(266.4,50%,50%)74%,
hsl(270,50%,50%)75%,
hsl(273.6,50%,50%)76%,
hsl(277.2,50%,50%)77%,
hsl(280.8,50%,50%)78%,
hsl(284.4,50%,50%)79%,
hsl(288,50%,50%)80%,
hsl(291.6,50%,50%)81%,
hsl(295.2,50%,50%)82%,
hsl(298.8,50%,50%)83%,
hsl(302.4,50%,50%)84%,
hsl(306,50%,50%)85%,
hsl(309.6,50%,50%)86%,
hsl(313.2,50%,50%)87%,
hsl(316.8,50%,50%)88%,
hsl(320.4,50%,50%)89%,
hsl(324,50%,50%)90%,
hsl(327.6,50%,50%)91%,
hsl(331.2,50%,50%)92%,
hsl(334.8,50%,50%)93%,
hsl(338.4,50%,50%)94%,
hsl(342,50%,50%)95%,
hsl(345.6,50%,50%)96%,
hsl(349.2,50%,50%)97%,
hsl(352.8,50%,50%)98%,
hsl(356.4,50%,50%)99%,
hsl(360,50%,50%)100%);

    border: 2px solid #e7e7e7;
}

.toEditButton{
    background-image: url(https://i.imgur.com/baqCaqp.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    color: white;
    padding: 24px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.toEditButton:hover {background-color: #e7e7e7;}